<div id="<%= dom_id post %>" class="speak divide-y divide-gray-100 rounded-lg bg-slate-100 p-3 mb-7">
  <p class="text-2xl mb-7 title"><%= post.title %> by r/<%=post.author %></p>
  <p class="body"><%= post.body %></p>
</div>
